
body {
  background: #333;
}

#app {
}

.app {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  padding: 10px;
  overflow: hidden;
  display: grid;
  column-gap: 10px;
}
.app.ashost {
  grid-template-columns: 1fr 15em;
}
.app.asuser {
  grid-template-columns: 1fr;
}
  .main {
    display: grid;
    grid-template-rows: 5em 1fr 2em;
    grid-template-columns: 1fr;
    row-gap: 2px;
    overflow-y: auto;
  }
    .title {
      background: white;
      padding: 1em;
    }
    .lines {
      background: white;
      overflow-y: scroll;
      padding: 1em;
    }
      .line {
        margin: 1em 0;
        border: 1px solid gray;
        opacity: 25%;
        display: flex;
        flex-direction: row;
      }
      .line.done {
        opacity: 50%;
      }
      .line.active {
        background: white;
        opacity: 100%;
      }
      .line.todo {
        /* display: none; */
      }
      .line .content {
        flex-grow: 100;
        padding: 1em;
      }
      .line.active .content {
        padding: 5em 1em;
      }
      .line .actions {
        flex-grow: 1;
        padding: 1em;
        background-color: #eee;
        padding: 2px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    .transport {
      background: white;
      display: flex;
      justify-content: center;
      align-items: center;
    }
      .transport a.disabled {
        color: gray;
        cursor: default;
      }
    .statusline {
      background: white;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  .side {
    display: grid;
    grid-template-rows: 2fr 1fr;
    row-gap: 10px;
    overflow-y: auto;
  }
    .userslist {
      background: white;
    }
    .userslist ul {
      list-style: none;
      padding: 0;
    }
    .status {
      background: white;
    }

.side aside {
  overflow-y: auto;
}
.side aside > header {
  text-align: center;
  padding: 5px;
  border-bottom: 1px solid gray;
}
.side aside > div {
  overflow-y: auto;
  padding: 5px;
}
